Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@askdesign 
askdesign
/
css-portfolio
forked from MorganEJLA/css-portfolio
0
01
Code
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
css-portfolio/css/styles.css
@MorganEJLA
MorganEJLA removed border box
Latest commit 54519ac 12 days ago
 History
 1 contributor
230 lines (171 sloc)  4.09 KB
  
/* CSS HEX 
--ming: #006d77ff;
--hookers-green: #52796fff;
--wintergreen-dream: #699489ff;
--turquoise-green: #a5d0a8ff;
--tea-green: #d7e8baff;
/* CSS HSL 
--ming: hsla(185, 100%, 23%, 1);
--hookers-green: hsla(165, 19%, 40%, 1);
--wintergreen-dream: hsla(165, 17%, 50%, 1);
--turquoise-green: hsla(124, 31%, 73%, 1);
--tea-green: hsla(82, 50%, 82%, 1);
/* SCSS HEX 
$ming: #006d77ff;
$hookers-green: #52796fff;
$wintergreen-dream: #699489ff;
$turquoise-green: #a5d0a8ff;
$tea-green: #d7e8baff;
/* SCSS HSL 
$ming: hsla(185, 100%, 23%, 1);
$hookers-green: hsla(165, 19%, 40%, 1);
$wintergreen-dream: hsla(165, 17%, 50%, 1);
$turquoise-green: hsla(124, 31%, 73%, 1);
$tea-green: hsla(82, 50%, 82%, 1);
/* SCSS RGB 
$ming: rgba(0, 109, 119, 1);
$hookers-green: rgba(82, 121, 111, 1);
$wintergreen-dream: rgba(105, 148, 137, 1);
$turquoise-green: rgba(165, 208, 168, 1);
$tea-green: rgba(215, 232, 186, 1);
/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
$gradient-right: linear-gradient(90deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
$gradient-bottom: linear-gradient(180deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
$gradient-left: linear-gradient(270deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
$gradient-top-right: linear-gradient(45deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
$gradient-bottom-right: linear-gradient(135deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
$gradient-top-left: linear-gradient(225deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
$gradient-bottom-left: linear-gradient(315deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
$gradient-radial: radial-gradient(#006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);
 --------------------------------------------*/




 *, *:before, *:after{
	 box-sizing:inherit;
 }
body {
	margin:0px;
	padding:0px;
	color: #FFFFFF;
	font-size:16px;
	font-family: 'Josefin Sans', sans-serif;

	

	
}
 img {
	width: 300px;
}

a {
	color:#a5d0a8ff;
	text-decoration:none;
}
 
 a:hover{
	text-decoration:none;
 }
 
 .content-wrapper header{
	 padding:60px 0;
 }

 .content-wrapper{
	max-width: 800px;
	width:85%;
	margin:0 auto;
	padding: 60px 0;
}
 .header-content-wrapper{
	max-width: 800px;
	width:85%;
	margin:0 auto;
	padding: 60px 0;
}
 .divider > section {
	 border-bottom:1px dashed
 }
 .divider > section:last-of-type{
	border-bottom:none;
 }
/* Profile
 --------------------------------------------*/
header {

	height: 700px;
    background: url('../img/new-hero-image.png');
	background-size: cover;
	background-position: top left;
	padding-bottom: 100px;

	
	
}

header h1{
    font-family: 'Antonio', sans-serif;
	font-size: 35px;
	color: white;
	padding: 325px  75px 5px; 
	
	}

header p{
	padding: 26px 76px;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	width:60%;
}


header p span{
	color:darkslategray;
}

h2{font-family:'Antonio', sans-serif;
	
}
 h3{
	font-family:'Roboto Slab', serif;
}



/* Projects
 --------------------------------------------*/

.projects{
	background: linear-gradient(180deg, #006d77ff, #52796fff, #699489ff, #a5d0a8ff, #d7e8baff);

}


.projects a{

}


.projects .btn{
	color: aliceblue;
	background: #006d77ff;
	text-decoration:none;
	padding:8px;
	border-radius:4px;
	display:inline-block;


}

.projects .btn:hover{
	background: rgba(0, 109, 119, 70%);
}

.project-item {
	overflow: hidden;
	border-bottom: 1px dashed darkslategray;
	padding:25px 0;
}
.project-item img{
	float:left;
	margin-right:20px;
}

.project-item h3{
	margin-top:0;

}

/* Education
 --------------------------------------------*/
.education{
	background:#006d77ff;
}

/* Contact Info
 --------------------------------------------*/

footer {
	background:#CAD2C5;
	color:#52796fff;
	text-align:center;

	
}

.contact {
	list-style-type: none;
	padding:0;
	display:flex;
	justify-content:center;
	
}

.contact a {
	padding: 15px;
	display:inline-block;

}

/*Responsive
----------------------------------------------------*/

@media screen and (max-width:1420px){
	.header-content-wrapper{
		padding: 60px 0;
	}
}

@media screen and (max-width:1200px){

	.header-content-wrapper {
		padding: 20px 0;
	}

	header h1 {
		padding: 225px 125px 5px;
		width: 85%;
		text-align: left;
	}

	header p {
		padding: 26px 125px;
		width: 85%;
		text-align: left;
	}
}


@media screen and (min-width:750px){
	header, footer {
		text-align:center;
	}
	.project-item img{
		float:left;
		margin-right:20px;
	}

	
}

@media screen and (max-width:749px){
	
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete